<section id="hero-container">
  <div class="dark-screen">
    <div id="hero-text">
      <h1>Inmobiliaria Claudia Lattour</h1>
      <h2>Tu próxima casa te está esperando!</h2>
      <p>En nuestra inmobiliaria, transformamos sueños en realidad. Explora nuestro exclusivo catálogo de propiedades y encuentra el espacio que refleje tu estilo de vida. ¡Tu nuevo hogar te espera!</p>
      <a href="inicio#propiedades" class="btn btn-outline-light">¡Encuéntrala hoy!</a>
    </div>
  </div>
</section>
<span id="propiedades"></span>
<app-galeria></app-galeria>