<div class="container">
  <div class="container-informacion">
    <div class="container-detalles">
      <p>Celular: 02262-503862</p>
      <p>Mail: claudialattour@hotmail.com</p>
      <p>Estamos presentes de lunes a sabado en los horarios: 9:00hs - 12:30hs y de  16:00hs - 19:00hs</p> 
      <p>Nos encontramos en la calle 83 entre Av 10 y calle 8, nro 377</p>
      <div class="frame-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.0323097107193!2d-58.73392772424119!3d-38.579103778165184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958f99c77549027b%3A0x2cab897dd27dc907!2sInmobiliaria%20Claudia%20Lattour!5e0!3m2!1ses!2sar!4v1690987915572!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="decorative-image-container">
      <img src="./../../../assets/imgs/contacto-image.jpg" alt="Cerrando contrato entre las 2 partes">
    </div>
    <!-- <form class="form" action="" method="post" [formGroup]="mailForm" (ngSubmit)="onSubmit()">
      <div class="campo">
        <label for="nombre">Nombre</label>
        <input class="input" type="text" id="nombre" formControlName="nombre">
      </div>
      <div class="campo">
        <label for="email">Email</label>
        <input class="input" type="email" id="email" formControlName="email">
      </div>
      <div class="campo">
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" rows="10" formControlName="mensaje"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form> -->
  </div>
</div>