<div class="container">
  <h3>Contacto</h3>
  <div class="container-informacion">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.0323097107193!2d-58.73392772424119!3d-38.579103778165184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958f99c77549027b%3A0x2cab897dd27dc907!2sInmobiliaria%20Claudia%20Lattour!5e0!3m2!1ses!2sar!4v1690987915572!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="container-detalles">
      <p>Contamos con propiedades en venta y alquiler, como tambien hacemos tasaciones.</p>
      <p>Calle: 83 nro: 377, entre Av 10 y calle 8.</p>
      <p>Cel: <a href="tel:+54 9 02262503862">02262-503862</a></p>
      <p>Estamos presentes de lunes a sabado de:</p> 
      <p>9:00hs - 12:30hs y de  16:00hs - 19:00hs</p>
      <p>Mail: <a href="mailto:claudialattour@hotmail.com">claudialattour@hotmail.com</a></p>
    </div>
  </div>
</div>