<div class="main-container">
  <div class="img-container">
    <img [src]="this.data.imagenes[0]" alt="" srcset="">
    <!-- <app-carrusel [prop_imgs] = "this.data.imagenes"></app-carrusel> -->
  </div>
  <div class="text-container">
    <h3><a href="#">{{this.data.titulo}}</a></h3>
    <p>{{this.data.descripcion}}</p>
    <p><i class="fa-solid fa-location-dot"></i> {{this.data.ubicacion}}</p>
    <p>$ {{this.data.precio}}</p>
    <div class="divider-container">
      <div class="caracteristicas-container">
        <p *ngIf="this.data.hasOwnProperty('cant_dormitorios')"><i class="fa-solid fa-bed"></i> {{this.data.cant_dormitorios}}</p>
        <p *ngIf="this.data.hasOwnProperty('cant_banios')"><i class="fa-solid fa-bath"></i> {{this.data.cant_banios}}</p>
        <p><i class="fa-solid fa-maximize"></i> {{this.data.mts_cuadrados}} mts²</p>
        <p *ngIf="this.data.hasOwnProperty('cochera')"><i class="fa-solid fa-warehouse"></i> {{this.data.cochera}}</p>
      </div>
      <div class="contacto-container">
        <a href="http://wa.me/5492262338350?text={{textoContacto}}" target="_blank"><img src="assets/logos/whatsapp.png" class="logo" alt="" srcset=""></a>
        <a href="mailto:renzoguerralattour@hotmail.com?cc={{textoContacto}}" target="_blank"><img src="assets/logos/mail1.png" class="logo" alt="" srcset=""></a>
      </div>
    </div>
  </div>
</div>